<% provide(:title, "About") %>
  <h1>About Us</h1>
  <h2>
    ff Venture Capital (ffVC) is one of the best performing seed- and early-stage venture capital firms in the U.S., based in New York City.
  </h2>
